.header {
  padding: 2rem;
  background: var(--primary);
  color: var(--secondary);
  text-align: center;
}

.header__heading {
  font-size: 1.5rem;
}

.header__link {
  font-size: 1rem;
  color: var(--secondary);
  padding: 0.5rem;
}
