main {
  color: var(--primary);
  padding: 15px;
  @media (min-width: 650px) {
    padding: 30px;
  }
}

img {
  display: block;
  height: 300px;
  padding: 1rem;
  margin: auto;

  @media (min-width: 650px) {
    margin: 0;
    padding: 0;
  }
}

.main {
  text-align: center;
  @media (min-width: 650px) {
    text-align: left;
  }
}

.contact {
  text-align: center;
  background-color: var(--primary);
  padding-bottom: 20px;
}

.link__contact {
  color: var(--secondary);
}

.line {
  width: 250px;
  margin: auto;
  color: #a7027d;
  @media (min-width: 650px) {
    margin: 0;
  }
}

@media (min-width: 650px) {
  .introduction {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;

    .hello {
      max-width: 400px;
    }

    .about {
      justify-content: space-evenly;
      max-width: 600px;
    }
  }
}
