main {
  color: var(--primary);
  padding: 15px;
}

img {
  display: block;
  height: 300px;
  padding: 1rem;
  margin: auto;
}

.main {
  text-align: center;
}

.tags {
  text-align: center;
}

.tags__items {
  display: inline-block;
  border: thin solid;
  border-color: var(--primary);
  padding: 10px;
  margin: 5px;
}

.bio {
  margin-top: 5px;
}

.bio__item {
  margin-bottom: 10px;
  margin-left: 15px;
}

.contact {
  text-align: center;
  background-color: var(--primary);
}

.link__contact {
  color: var(--secondary);
}

.line {
  width: 250px;
  margin: auto;
  color: #a7027d;
}
