main {
  color: var(--primary);
  padding: 15px;
}

img {
  height: 300px;
  padding: 1rem;
  margin: auto;
}

.main {
  text-align: center;
}

.tags {
  text-align: center;
}

.tags__items {
  display: inline-block;
  border: thin solid;
  border-color: var(--primary);
  padding: 10px;
  margin: 5px;
}
