* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  //border: 1px solid red;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: var(--primary);
  height: 100vh;
  line-height: 1.5;
}

main {
  color: var(--primary);
  padding: 16px;
  @media (min-width: 650px) {
    padding: 30px;
  }
}
