section {
  margin-bottom: 80px;
}

img {
  height: 300px;
  padding: 1rem;
  margin: auto;
}

h1 {
  text-transform: uppercase;
  font-size: 36px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
}

.link__contact {
  color: var(--pink);
}

.link {
  padding: 8px;
}

.link__app {
  color: var(--pink);
  display: grid;
  margin-bottom: 8px;
}

.animation__fadein {
  animation: fadein 3s ease;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translate(0, -32px);
    }

    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.img__app {
  height: 400px;
}
