img {
  display: block;
  height: 300px;
  padding: 1rem;
  margin: auto;

  @media (min-width: 650px) {
    margin: 8px;
    padding: 0;
    align-items: center;
  }
}

.main {
  text-align: center;

  @media (min-width: 650px) {
    text-align: left;
  }
}

.contact {
  text-align: center;
  background-color: var(--primary);
  padding-bottom: 20px;

  @media (min-width: 650px) {
    display: flex;
    justify-content: space-around;
  }
}

.link__contact {
  color: var(--secondary);
}

.line {
  width: 250px;
  margin: auto;
  color: #a7027d;

  @media (min-width: 650px) {
    margin: 0;
  }
}

@media (min-width: 650px) {
  .introduction {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

    .intro__short {
      max-width: 400px;
      margin: 8px;
    }

    .intro__long {
      max-width: 600px;
      margin: 8px;
    }
  }

  .contact {
    display: flex;
  }
}
